
.main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("./images/chessImage.jpeg");
    background-size:cover;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    margin-left: 5%;
}
.tokenfield {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
